<style>
body{
    margin: 0px;
    color:black;
    background-color:black;
}
h1{
    text-align: center;
    border-style: groove;
    border-color: black;
    color:black;
    background-color: aqua;
    width: 200px;
    length:200px;
    align-self: center;

}
.navbar ul{
    list-style-type:none;
    background-color:aqua;
    padding:0px;
    margin: 0px;
    overflow: hidden;

}

.navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 43%, 1%);
}
.navbar li{
    float:left;
}
</style>